<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hicola.mapper.UserMapper">

    <!-- 查找用户信息 -->
    <select id="findAllUsers" resultType="com.hicola.model.User">
       select * from p_user
    </select>

    <select id="deleteAllUsers" resultType="com.hicola.model.User">
        delete from p_user
    </select>

</mapper>